*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-weight:lighter;
}
header{
  position:fixed;
  color:#444;
  padding: 15px;
  background: #efefef;
  border-bottom-right-radius: 5px;
  z-index:100;
  box-shadow:0 0 10px black;
  text-shadow:0 0 2px white;
  opacity:0.8;
}
header h1{

}
header h2{

}
header nav{
  text-transform:uppercase;
  padding:8px;
  text-align:center;
}
header nav a{
  text-decoration:none;
  font-size:16px;
  padding:8px;
  color:#444;
}
header nav a.active,
header nav a:hover{
  font-weight:bold;
}
article{

}
section{
  padding:96px;
  padding-top:0;
}
section h2{
  text-transform:uppercase;
  font-size:42px;
  font-weight:lighter;
  margin-bottom:16px;
}
section h3{
  margin-bottom:16px;
}
section h2 a{
  padding-top: 146px;
  display: block;
}
section p{
  margin-bottom:16px;
  max-width:600px;
}
section p a{
  text-decoration:none;
  font-weight:bold;
  color:inherit;
}
section code{
  font-family:'Courier New', courier, monospace;
  background:black;
  padding:5px;
  border-radius:4px;
  color:lightgreen;
  display:inline-block;
  margin-bottom:16px;
}

section blockquote{
  background:#ccc;
  border-radius:4px;
  max-width:600px;
  padding:12px;
  margin-left:-12px;
  margin-bottom:12px;
}

section.about{
  background-color:#9BCBD6;
  background-image: -webkit-linear-gradient(top, #9BCBD6, #5F9BA8);
  background-image: -moz-linear-gradient(top, #9BCBD6, #5F9BA8);
  background-image: -ms-linear-gradient(top, #9BCBD6, #5F9BA8);
  background-image: -o-linear-gradient(top, #9BCBD6, #5F9BA8);
  color:#122212;
}
section.code{
  background-color:#787887;
  border-top:10px solid #898998;
  background-image: -webkit-linear-gradient(top, #787887, #676776);
  background-image: -moz-linear-gradient(top, #787887, #676776);
  background-image: -ms-linear-gradient(top, #787887, #676776);
  background-image: -o-linear-gradient(top, #787887, #676776);
  color:#101001;
}

section.author{
  background-color:#104D9B;
  color:#fefeef;
}

section.talk{
  background-color:#A09A6D;
  background-image: -webkit-linear-gradient(top, #A09A6D, #6D652A);
  background-image: -moz-linear-gradient(top, #A09A6D, #6D652A);
  background-image: -ms-linear-gradient(top, #A09A6D, #6D652A);
  background-image: -o-linear-gradient(top, #A09A6D, #6D652A);
  color:#dccdcd;
}

div.tabs{
  position:relative;
  height:600px;
}

div.tabs nav{
  position:absolute;
  top:10px;
  right:10px;
  z-index:10;
}

div.tabs nav a{
  display:inline-block;
  padding:5px;
  background:white;
  text-align:center;
  color:#333;
  border-radius:3px;
  text-decoration:none;
  box-shadow:0 0 8px white;
  margin-left:10px;
  -webkit-transition:box-shadow 0.5s ease-out;
  -moz-transition:box-shadow 0.5s ease-out;
  -o-transition:box-shadow 0.5s ease-out;
  -ms-transition:box-shadow 0.5s ease-out;
  transition:box-shadow 0.5s ease-out;
}

div.tabs nav a:hover{
  box-shadow:none;
}

div.tabs nav a.active{
  font-weight:bold;
}

div.tabs pre{
  background:rgba(0,0,0,0.6);
  color:lightgreen;
  font-family:courier;
  padding:20px;
  width:auto;
  width:-webkit-calc(100% - 40px);
  width:-moz-calc(100% - 40px);
  width:-o-calc(100% - 40px);
  width:calc(100% - 40px);
  position:absolute;
  top:0;
  left:0;
  height:600px;
  overflow-y:scroll;
  border-radius:4px;
}
div.tabs pre.javascript{
  display:none;
}
